In [10]:
import pandas as pd

In [13]:
df = pd.read_csv('/content/drive/MyDrive/datasets/Seoul_Data.csv')

ParserError: ignored

In [12]:
df.head()

,동,전용면적(㎡),계약년월,층,도로명,구분,건물나이,종가,거래량,변동 %,한국은행기준금리,대학최소거리,역최소거리,마트,스타벅스,Y
0,개포동,77.8,201401.0,2.0,70693.0,아파트,26.0,1941.15,5.09,-3.49,2.5,3.394074,0.833371,3.0,2.0,33000.0
1,개포동,77.8,201405.0,9.0,70693.0,아파트,26.0,1994.96,4.29,1.69,2.5,3.394074,0.833371,3.0,2.0,39000.0
2,개포동,77.8,201405.0,1.0,70693.0,아파트,26.0,1994.96,4.29,1.69,2.5,3.394074,0.833371,3.0,2.0,33000.0
3,개포동,77.8,201406.0,9.0,70693.0,아파트,26.0,2002.21,4.60,0.36,2.5,3.394074,0.833371,3.0,2.0,35000.0
4,개포동,77.8,201407.0,3.0,70693.0,아파트,26.0,2076.12,6.98,3.69,2.5,3.394074,0.833371,3.0,2.0,37000.0

In [5]:
df.isna().sum()

동           0
전용면적(㎡)     0
계약년월        0
층           1
도로명         1
구분          1
건물나이        1
종가          1
거래량         1
변동 %        1
한국은행기준금리    1
대학최소거리      1
역최소거리       1
마트          1
스타벅스        1
Y           1
dtype: int64

In [7]:
df.loc[df['층'].isna()]

,동,전용면적(㎡),계약년월,층,도로명,구분,건물나이,종가,거래량,변동 %,한국은행기준금리,대학최소거리,역최소거리,마트,스타벅스,Y
47285,논현동,20.5,202005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN